.achievements {
  background-color: #f2f2f2;
  .achievements__title {
    @include font-4(30px);
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
  }
  .achievements__label {
    display: block;
    @include font-5;
  }
}
