.achievements {
  background-color: #f2f2f2;
  width: 100%;

  fieldset {
    border: none;
    padding-top: 33px;

  }
}

.achievements__wrapper {
  @include container();
}

.achievements__form {
  padding-top: 33px;
  padding-bottom: 55px;
  width: 280px;
  margin: 0 auto;
}

.achievements__title {
  @include font-4(18px);
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  // padding-bottom: 40px;
}

.achievements__label {
  display: block;
  @include font-5;
}

@media ($tablet-widths) {

  .achievements {
    background-color: #ffffff;
    margin-top: -40px;
    order: 3;

    fieldset {
      display: flex;
      flex-wrap: wrap;
      border: 2px solid #e5e5e5;
      padding-top: 40px;
      padding-bottom: 60px;
    }

  }

  .achievements__form {
    width: auto;

  }

  .achievements__title {
    line-height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    // padding: 0;
  }

  .achievements__label {
    @include font-5;
    // padding-top: 50px;
  }

}

@media ($desktop-widths) {

  .achievements {

    fieldset {
      flex-direction: column;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 44px;
      // align-items: ;
    }

    fieldset div {
      height: 100px;

    }

  }

  .achievements__form {

  }

  .achievements__label {
    // display: inline;
    width: 260px;
  }


}
