.advantages {
  &__header {
    font-size: 24px;
    line-height: auto;
    font-weight: 300;
    color: #283645;
    text-align: center;
    background-color: #ffffff;
  }
  &__title {
    margin-bottom: 41px;
  }
  &__list {
    background-color: #f2f2f2;
    text-align: center;
  }
  &__item {
    margin-bottom: 43px;
    color: #283645;
    b {
      font-size: 18px;
      line-height: 10px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
    }
  }
  img {
    @include size(157px, 320px);
    text-align: center;
  }
}
