.application {
  background-color: #f2f2f2;
  .application__title {
    @include font-4(30px);
    color: #d22856;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .application__label {
    display: block;
    @include font-5;
  }
}
