.contacts {
  &__label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    display: block;
  }
  &__input {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }
}
