.emotions {
  .emotions__title {
    @include font-4(30px);
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
  }
  .emotions__form {
    width: 100%;
  }
  .emotions__text {
    @include font-name;
    @include font-5;
    width: 100%;
  }
  .emotions__btn{
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    background-color: #2aab6d;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .emotions__required-fields {
    text-align: center;
  }
  .emotions__star {
    color: #d22856;
  }
}
