.filter {
  text-align: center;
  padding-top: 20px;
  &__title {
    padding-bottom: 23px;
  }
  &__content {
    background-color: #f2f2f2;
  }
  &__range {
    display: block;
    margin: 0 auto;
  }
  &__range--disabled {
    display: none;
  }
  &__btns {
    border-top: 1px solid #dddfe0;
    padding-top: 38px;
    padding-bottom: 41px;
  }
  &__btn {
    line-height: 18px;
    color: #d22856;
    display: block;
    border: 3px solid #d22856;
    background-color: transparent;
    border-radius: 30px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  &__btn--disabled {
    margin-top: 12px;
    border-color: #dddfe0;
    color: #dddfe0;
  }
}
