.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: -18px;
  margin-bottom: -15px;
  &__list {
    list-style: none;
    padding: 0;
  }
  &__item {
    text-align: center;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
  }
  &__item a {
    color: #ffffff;
  }
}
