@media ($tablet-widths){

  .page-main {
    position: relative;
  }

}

@media ($desktop-widths){

  .page-main {
    position: relative;
  }

}

.page-main--form {
  display: flex;
  flex-wrap: wrap;
}
