.social-link {
  display: inline-block;
  vertical-align: top;
  // font-size: 0;
  text-decoration: none;
  &--itunes {

  }
  &--gmarket {

  }
  &--mstore {

  }
  &--twitter {

  }
  &--facebook {

  }
  &--youtube {
    
  }
}
