.who {
  .who__title {
    text-align: center;
  }
  .who__label {
    color: #d22856;
    display: block;
    text-transform: uppercase;
  }
  .who__input {
    @include font-name;
    color: #283645;
    @include font-5;
  }
}
